[Desktop Entry]
Version=1.0
Type=Application
Name=PyTestBench
GenericName=PyTestBench
Comment=Run PyTestBench, the Python Test Bench software
TryExec=PyTestBench
Exec=PyTestBench
Icon=PyTestBench.svg
Categories=Education;Science;Physics;
